<% if (theme.valine.enable ){ %>
    <div class="comments vcomment" id="comments"></div>
    <%- js('//cdn1.lncld.net/static/js/3.0.4/av-min.js','assets/valine.min.js') %>

    <script>
        var valine = new Valine();
        valine.init({
            av: AV,
            el: '#comments',
            notify: '<%= theme.valine.notify %>' == 'true',
            verify: '<%= theme.valine.verify %>' == 'true',
            appId: '<%= theme.valine.appId %>',
            appKey: '<%= theme.valine.appKey %>',
            avatar: '<%= theme.valine.avatar %>',
            placeholder: '<%= theme.valine.placeholder %>',
            meta: '<%= theme.valine.meta %>'.split(','),
            pageSize: '<%= theme.valine.pageSize %>',
			path: window.location.pathname,
			lang: '<%= config.language %>'.toLowerCase()
        })
    </script>
<% } %>
